.teste{
    background: var(--theme-background);
    
    h1{
        
        font-size: 2rem;
        color: var(--theme-page-text);
    }

    p{
        font-size: 2rem;
    }

    a{
        color: var(--theme-color);
    }
}

