.teste{
    background: var(--theme-page-background);
    height: calc(100vh - 72px);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 4px;
    
    h1{
        font-size: 2rem;
        color: var(--theme-page-text);
    }

    p{
        font-size: 2rem;
    }

    a{
        color: var(--theme-color);
    }
}

